/* Base colors */

$white: #fff;
$black: #000;
$grey: #999;
$red: red;
$blue: blue;
$sky: lightblue;
$green: green;
$emerald: lightgreen;
$yellow: yellow;
$orange: orange;
$pink: pink;
$purple: purple;

/* Theme colors */

$primary: #F5E8C7;
$secondary: #ECCCB2;
$terciary: #DEB6AB;
$quaternary: #AC7088;

/* Border colors */

$border-color: rgba($color: #999, $alpha: .2);

/* General colors */

$danger: #f15c5c;
$danger-light: #ed7d7d;
$success: #4eb447;
$success-light: #89cf83;
$warning: #eed762;
$warning-light: #eee19b;
$info: #6489ef;
$info-light: #8daafa;

/* Util colors */

$muted: #959CA1;
$dim: #F7F7F7;
$dark: #333;