
.pe-none {
    pointer-events: none;
}

.pe-all {
    pointer-events: all;
}

.pe-stroke {
    pointer-events: stroke;
}

.pe-fill {
    pointer-events: fill;
}

.pe-painted {
    pointer-events: painted;
}

.pe-visible {
    pointer-events: visible;
}