

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.fixed {
    position: fixed;
}

.static {
    position: static;
}

.sticky {
    position: sticky;
}

/* PLACEMENT */

.inset-0 {
    inset: 0;
}

.inset-50 {
    inset: 50%;
}

/* TOP */

.top-0 {
    top: 0;
}

.top-50 {
    top: 50%;
}

.top-100 {
    top: 100%;
}

.top-50-{
    top: -50%;
}

.top-100-{
    top: -100%;
}

/* BOTTOM */

.bottom-0 {
    bottom: 0;
}

.bottom-50 {
    bottom: 50%;
}

.bottom-100 {
    bottom: 100%;
}

.bottom-50-{
    bottom: -50%;
}

.bottom-100-{
    bottom: -100%;
}

/* LEFT */

.left-0 {
    left: 0;
}

.left-50 {
    left: 50%;
}

.left-100 {
    left: 100%;
}

.left-50-{
    left: -50%;
}

.left-100-{
    left: -100%;
}

/* RIGHT */

.right {
    right: 0;
}

.right-50 {
    right: 50%;
}

.right-100 {
    right: 100%;
}

.right-50-{
    right: -50%;
}

.right-100-{
    right: -100%;
}

